.DS_Store
.Rapp.history
.Rhistory
.cvsignore
*.log*
src/**/*.pdf
src/*/*.zip
.idea/workspace.xml
.idea/tasks.xml
.idea/*.iws
*.fuse*
*.orig
*.local
*.remote
*.attach_pid*
/classes/
/datasets/
/results/
/datasets/
